<a href="https://colab.research.google.com/github/bariskucuk1999/data-science-notes/blob/main/ListMap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
  name, *line = input().split()
  scores = list(map(float, line))
  student_marks[name] = scores
query_name = input()
if query_name==name:
  print(student_marks[name])

2
Ali 33 44 55
Ahmet 99 88 77
Ali