<a href="https://colab.research.google.com/github/bariskucuk1999/data-science-notes/blob/main/DeepLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
veriler=pd.read_csv("Churn_Modelling.txt")
veriler

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
#veri ön işleme
X=veriler.iloc[:,3:13].values
Y=veriler.iloc[:,13].values
#encoding:kategorik->nümerik
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
X[:,1]=le.fit_transform(X[:,1]) #geography column
le2=preprocessing.LabelEncoder()
X[:,2]=le2.fit_transform(X[:,2]) #gender column
#one hot encoding
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ohe=ColumnTransformer([("ohe",OneHotEncoder(dtype=float),[1])],remainder="passthrough")
X=ohe.fit_transform(X)
X=X[:,1:]
X

array([[0.0, 0.0, 619, ..., 1, 1, 101348.88],
       [0.0, 1.0, 608, ..., 0, 1, 112542.58],
       [0.0, 0.0, 502, ..., 1, 0, 113931.57],
       ...,
       [0.0, 0.0, 709, ..., 0, 1, 42085.58],
       [1.0, 0.0, 772, ..., 1, 0, 92888.52],
       [0.0, 0.0, 792, ..., 1, 0, 38190.78]], dtype=object)

In [ ]:
X[0:5,:] #ilk 5 satırı yazdırma

array([[0.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
       [0.0, 1.0, 608, 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [0.0, 0.0, 502, 0, 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [0.0, 0.0, 699, 0, 39, 1, 0.0, 2, 0, 0, 93826.63],
       [0.0, 1.0, 850, 0, 43, 2, 125510.82, 1, 1, 1, 79084.1]],
      dtype=object)

In [ ]:
X[:,8:10] #8 ve 9. sütunları yazdırma

array([[1, 1],
       [0, 1],
       [1, 0],
       ...,
       [0, 1],
       [1, 0],
       [1, 0]], dtype=object)

In [ ]:
#verilerin eğitim ve test için bölünmesi
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.33,random_state=0)
#verilerin ölçeklenmesi
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(x_train) #normalize edildi
X_test=sc.fit_transform(x_test)
X_train

array([[-0.56953701, -0.57436296, -1.78451879, ..., -1.56299709,
        -1.03339307,  1.0890591 ],
       [-0.56953701, -0.57436296,  1.47401668, ...,  0.63979645,
         0.967686  , -0.4551902 ],
       [-0.56953701, -0.57436296, -0.82854466, ..., -1.56299709,
         0.967686  , -0.65446947],
       ...,
       [-0.56953701, -0.57436296,  0.89837634, ...,  0.63979645,
        -1.03339307,  1.40745917],
       [-0.56953701,  1.74105933, -0.62295883, ...,  0.63979645,
         0.967686  ,  0.83939459],
       [ 1.75581215, -0.57436296, -0.2837422 , ...,  0.63979645,
        -1.03339307,  0.31973777]])

**Müşteri Kayıp Analizi**

In [ ]:
#yapay sinir ağları
import keras
from keras.models import Sequential
from keras.layers import Dense
classifier=Sequential() #yapay sinir ağı oluşturuldu
classifier.add(Dense(6,kernel_initializer="uniform",activation="relu",input_dim=11)) #giriş katmanı(11 bağımsız değişken için)
#input_dim->yapay sinir ağı giriş katmanındaki veri sayısı
#6 nörondan oluşan bir gizli katman
classifier.add(Dense(6,kernel_initializer="uniform",activation="relu")) #ikinci gizli katmanı ekleme

In [ ]:
classifier.add(Dense(1,kernel_initializer="uniform",activation="sigmoid")) #çıkış katmanı
classifier.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])
classifier.fit(X_train,y_train,epochs=50) #x'den y'yi öğrenme(bağımsız değişkenlerden bağımlı değişkeni öğrenme)
y_pred=classifier.predict(X_test)
y_pred

Epoch 1/50
210/210 [==============================] - 1s 1ms/step - loss: 0.5793 - accuracy: 0.7978
Epoch 2/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4383 - accuracy: 0.7979
Epoch 3/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4313 - accuracy: 0.7979
Epoch 4/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4281 - accuracy: 0.7979
Epoch 5/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4261 - accuracy: 0.7979
Epoch 6/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4239 - accuracy: 0.7979
Epoch 7/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4211 - accuracy: 0.7979
Epoch 8/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4191 - accuracy: 0.7979
Epoch 9/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4175 - accuracy: 0.8173
Epoch 10/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4163 - accuracy: 0.8196
Epoch 11/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4154 - accuracy: 0.8233
Epoch 12/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4148 - accuracy: 0.8263
Epoch 13/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4138 - accuracy: 0.8275
Epoch 14/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4130 - accuracy: 0.8273
Epoch 15/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4123 - accuracy: 0.8275
Epoch 16/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4118 - accuracy: 0.8296
Epoch 17/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4110 - accuracy: 0.8299
Epoch 18/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4108 - accuracy: 0.8304
Epoch 19/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4101 - accuracy: 0.8303
Epoch 20/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4094 - accuracy: 0.8319
Epoch 21/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4093 - accuracy: 0.8337
Epoch 22/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4088 - accuracy: 0.8321
Epoch 23/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4086 - accuracy: 0.8334
Epoch 24/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4085 - accuracy: 0.8312
Epoch 25/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4080 - accuracy: 0.8324
Epoch 26/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4074 - accuracy: 0.8330
Epoch 27/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4073 - accuracy: 0.8334
Epoch 28/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4072 - accuracy: 0.8333
Epoch 29/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4067 - accuracy: 0.8340
Epoch 30/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4063 - accuracy: 0.8343
Epoch 31/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4063 - accuracy: 0.8334
Epoch 32/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8349
Epoch 33/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4058 - accuracy: 0.8346
Epoch 34/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4054 - accuracy: 0.8352
Epoch 35/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4053 - accuracy: 0.8349
Epoch 36/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4042 - accuracy: 0.8351
Epoch 37/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4049 - accuracy: 0.8352
Epoch 38/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4043 - accuracy: 0.8349
Epoch 39/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4042 - accuracy: 0.8352
Epoch 40/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4043 - accuracy: 0.8354
Epoch 41/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4040 - accuracy: 0.8351
Epoch 42/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4042 - accuracy: 0.8345
Epoch 43/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4040 - accuracy: 0.8339
Epoch 44/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4032 - accuracy: 0.8349
Epoch 45/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4036 - accuracy: 0.8349
Epoch 46/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4033 - accuracy: 0.8348
Epoch 47/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4031 - accuracy: 0.8345
Epoch 48/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4030 - accuracy: 0.8342
Epoch 49/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4032 - accuracy: 0.8343
Epoch 50/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4030 - accuracy: 0.8346

array([[0.2538057 ],
       [0.3448224 ],
       [0.17514157],
       ...,
       [0.2530751 ],
       [0.55892295],
       [0.02522138]], dtype=float32)

In [ ]:
y_pred=(y_pred>0.5) #true olanları döndürme
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
#gerçek veriden elde edilen actual datalar ile elde ettiğimiz y_pred değerlerini karşılaştırma
cm

array([[2551,   66],
       [ 466,  217]])